{% extends "base.html" %}
{% block customers_css %}
<link rel="stylesheet" href="/components/dashboard/dashboard.css">
<link rel="stylesheet" href="/components/customers/customers.css">
{% endblock %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% block content %}
<!-- Main content for Customers page -->


<div id="dashboard-container" style="display: none;">
    {% with no_base=true %}
    {% include 'dashboard/dashboard.html' %}
    {% endwith %}
</div>
<div class="main-content" id="customers-list">
    <!-- Add Customers button -->
    <div class="add-button-container">
        <button class="add-button" id="openModalButton">
            <i class="fas fa-plus"></i> Add Customers
        </button>
    </div>
    <!-- Informational message -->
    <div class="customer-container">
        <p>No customers at the moment</p>
    </div>
    <div class="tile-display">
        {% for customer in user_data %}
        <div class="customer-tile clickable-tile">
            <div class="customer-info static">
                <h3 class="customer-name">{{ customer.name }}</h3>
                <p class="customer-email">{{ customer.email }}</p>
                <p class="customer-phone">{{ customer.phone_number }}</p>
            </div>
            <!-- Editable Content (Hidden by default) -->
            <div class="customer-info editable" style="display: none;">
                <input type="text" class="edit-name" value="{{ customer.name }}">
                <input type="email" class="edit-email" value="{{ customer.email }}">
                <input type="tel" class="edit-phone" value="{{ customer.phone_number }}">
            </div>

            <div class="customer-header">
                <i class="fas fa-edit edit-btn" title="Edit"></i>
                <form method="post" action="/delete_customer">
                    <input type="hidden" name="customer_id" value="{{ customer.id }}"> <!-- Change to match your actual identifier -->
                    <button type="submit" class="delete-btn" title="Delete" style="margin-left: 10px;">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>

    <div id="customerModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Add Customer Details</h2>
            </div>
            <div class="modal-body">
                <form id="customerForm" method="post" action="/create_customer">
                    <div class="input-container">
                        <label for="customerName">Name:</label>
                        <input type="text" id="customerName" name="customerName" placeholder="John Doe">
                    </div>

                    <div class="input-container">
                        <label for="customerEmail">Email:</label>
                        <input type="email" id="customerEmail" name="customerEmail" placeholder="john.doe@example.com">
                    </div>

                    <div class="input-container">
                        <label for="customerAge">Age:</label>
                        <input type="text" id="customerAge" name="age" placeholder="28">
                    </div>

                    <div class="input-container">
                        <label for="tel">Phone:</label>
                        <input type="tel" id="customerPhone" name="tel" placeholder="+91 9123456789">
                    </div>

                    <div class="button-container">
                        <button type="submit" class="btn" id="saveButton">Save</button>
                        <button type="button" class="btn" id="cancelButton">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        // Tile click event
        document.addEventListener('DOMContentLoaded', function () {
            var tiles = document.querySelectorAll('.clickable-tile');

            tiles.forEach(function (tile) {
                tile.addEventListener('click', function () {
                    document.getElementById('customers-list').style.display = 'none'; // hide customers content
                    document.getElementById('dashboard-container').style.display = 'block'; // show dashboard content
                });
            });

            // Button to go back to customers view
            document.getElementById('backButton').addEventListener('click', function () {
                document.getElementById('dashboard-container').style.display = 'none'; // hide dashboard content
                document.getElementById('customers-list').style.display = 'block'; // show customers content
            });
        });

        // Edit button click event
        document.addEventListener('DOMContentLoaded', function () {
            var editButtons = document.querySelectorAll('.edit-btn');
            var deleteButtons = document.querySelectorAll('.delete-btn');

            var editableInputs = document.querySelectorAll('.editable input');
            deleteButtons.forEach(function (deleteButton) {
                deleteButton.addEventListener('click', function (event) {
                    event.stopPropagation();

                })
            })
            editButtons.forEach(function (editButton) {
                editButton.addEventListener('click', function (event) {
                    event.stopPropagation();
                    var parentTile = this.closest('.customer-tile');
                    var staticInfo = parentTile.querySelector('.static');
                    var editableInfo = parentTile.querySelector('.editable');

                    // Hide the static info and display the editable fields
                    staticInfo.style.display = 'none';
                    editableInfo.style.display = 'block';

                    // Change the edit icon to a save icon
                    this.classList.remove('fa-edit');
                    this.classList.add('fa-save');
                    this.title = 'Save';

                    // On save click, update the static info and switch back
                    this.onclick = function () {
                        var editedName = parentTile.querySelector('.edit-name').value;
                        var editedEmail = parentTile.querySelector('.edit-email').value;
                        var editedPhone = parentTile.querySelector('.edit-phone').value;

                        parentTile.querySelector('.customer-name').innerText = editedName;
                        parentTile.querySelector('.customer-email').innerText = editedEmail;
                        parentTile.querySelector('.customer-phone').innerText = editedPhone;

                        // Toggle displays
                        staticInfo.style.display = 'block';
                        editableInfo.style.display = 'none';

                        // Change the save icon back to an edit icon
                        this.classList.remove('fa-save');
                        this.classList.add('fa-edit');
                        this.title = 'Edit';
                        this.onclick = null; // Clear the save click event
                    };
                });
            });
            // Stop the propagation for the input elements within .editable
            editableInputs.forEach(function (input) {
                input.addEventListener('click', function (event) {
                    event.stopPropagation();
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            var openModalButton = document.getElementById('openModalButton');
            var customerModal = document.getElementById('customerModal');

            openModalButton.addEventListener('click', function () {
                customerModal.style.display = 'block';
            });

            var cancelButton = document.getElementById('cancelButton');
            cancelButton.addEventListener('click', function () {
                customerModal.style.display = 'none';
            });

        });
    </script>

</div>
{% endblock %}